body{
    background:url(fondo.jpg)
}

.titulo{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 50px;
   color:honeydew;
}
.texto1{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:honeydew;
}
.cambio{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:honeydew;
}
.botones{
    font-size: 20px;
    color: red;
}
.monedauno{
    font-size: 20px;
}
.monedados{
    font-size: 20px;
}
.botones2{
    font-size: 20px;
    color: red;
}

.boton5{
    position: relative;
    background-color:#ffffff;
    border-radius: 4em;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 0, 0);
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    margin:50px 230px;
    max-width: 1400px;
    -webkit-transition-duration: 0.4s; 
}


.btn{
    position: relative;
    background-color:#ff0000;
    border-radius: 4em;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    margin:50px 230px;
    max-width: 300px;
    -webkit-transition-duration: 0.4s; 
}

